.container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.first {
  width: 50rem;
  height: 30rem;
  background-color: #dbe9f3;
  margin-left: 400px;
  margin-top: 100px;
}
.img {
  width: 20rem;
  height: 3rem;
  flex-direction: row;
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
}
.img2 {
  height: 26.5rem;
  width: 24rem;
  margin-left: 130px;
}
.hero {
  font-size: 40px;
  margin-left: 30px;
}
.heal {
  font-size: 5px;
  margin-left: 30px;
}
